<?xml version='1.0'?>
<launch>

    <!--  Arguments  -->
    <arg name='params' default='planets'/>

    <!--  Initialize Params -->
    <rosparam command='load' file='$(find orbit)/param/$(arg params).yaml'/> 


    <!--  Run nodes  -->
    <node pkg="orbit" name="random_transform" type="random_transform.py"/>

    

</launch>